.content {   
    background-color: #1D2B3A;
    height: 100vh;
}

.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 40px;
}