

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.invalid {
    padding-left: 7px;
    color: red;
    font-size: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control, .form-select{
    min-width: 300px;
    font-size: 14px;
}

label {
    font-size: 14px;
}

app-loading-spinner {    
    position: absolute;    
    background-color: dimgray;
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    z-index: 1000;
}