<div>

    <div class="header">
        <img [src]="loggedUser.picture" class="card-img-top" class="foto" alt="...">
        <h4>{{ loggedUser.name}}</h4>
        <svg xmlns="http://www.w3.org/2000/svg" matTooltip="Sair" class="icon-off" (click)="logout()" height="20"
            width="20" viewBox="0 0 640 640">
            <path fill="#f1f2f3"
                d="M352 64C352 46.3 337.7 32 320 32C302.3 32 288 46.3 288 64L288 320C288 337.7 302.3 352 320 352C337.7 352 352 337.7 352 320L352 64zM210.3 162.4C224.8 152.3 228.3 132.3 218.2 117.8C208.1 103.3 188.1 99.8 173.6 109.9C107.4 156.1 64 233 64 320C64 461.4 178.6 576 320 576C461.4 576 576 461.4 576 320C576 233 532.6 156.1 466.3 109.9C451.8 99.8 431.9 103.3 421.7 117.8C411.5 132.3 415.1 152.2 429.6 162.4C479.4 197.2 511.9 254.8 511.9 320C511.9 426 425.9 512 319.9 512C213.9 512 128 426 128 320C128 254.8 160.5 197.1 210.3 162.4z" />
        </svg>

    </div>

    <div class="content">
        <div class="buttons">
            <button type="button" class="btn btn-primary" [disabled]="loggedUser.rentedCar"
                routerLink="/leasing-area/allocation">Nova locação</button>
            <button type="button" class="btn btn-secondary" routerLink="/leasing-area/edit-account">Editar
                conta</button>
            <button type="button" class="btn btn-danger" (click)="removalConfirmation()">Excluir conta</button>
        </div>
        <div class="cards-cars">
            <div *ngIf="loggedUser.rentedCar">
                <h5>Reserva atual</h5>
                <div class="card" style="width: 130px; height: 220px; margin-right: 25px;">
                    <div class="img">
                        <img [src]="loggedUser.rentedCar.picture" class="card-img-top" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">{{ loggedUser.rentedCar.modelName }}</h5>
                        <p class="card-text">
                            {{ loggedUser.rentedCar.bodyType }} <br />
                            {{ loggedUser.rentedCar.engineType }}<br />
                            {{ loggedUser.rentedCar.numberOfSeats }}
                        </p>                       

                        <button type="button" (click)="endAllocationConfirmation(loggedUser.rentedCar._id)"
                            class="btn btn-primary">Finalizar</button>

                    </div>
                </div>
            </div>

            <div *ngIf="loggedUser.reservationHistory.length > 0">
                <h5>Ultimas reservas</h5>
                <div class="ands-reserves">
                    @for (car of loggedUser.reservationHistory; track car) {
                    <div>
                        <div class="card" style="width: 130px; height: 220px;">
                            <div class="img">
                                <img [src]="car.picture" class="card-img-top" alt="...">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">{{ car.modelName }}</h5>
                                <p class="card-text">
                                    {{ car.bodyType }} <br />
                                    {{ car.engineType }}<br />
                                    {{ car.numberOfSeats }}
                                </p>

                            </div>
                        </div>
                    </div>
                    }
                </div>

            </div>
        </div>
        <app-loading-spinner *ngIf="isLoader"></app-loading-spinner>
    </div>

</div>